body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}


header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #a3c2e1;
  color: white;
  padding: 20px;
}

.logo {
  width: 100px;
}


main {
  padding: 30px;
}

section {
  margin-bottom: 25px;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
  color: #003366;
}

ul {
  padding-left: 20px;
}


footer {
  text-align: center;
  background-color: #a3c2e1;
  color: white;
  padding: 15px;
}